.main-explore-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0% 8%;
}

.main-explore-wrapper h1 {
  font-size: 48px;
  color:white;
}

.main-explore-container h2 {
  font-size: 38px;
  color: white;
}

.main-explore-wrapper button {
  font-size: 28px;
  padding: 12px 34px;
  background-color: rgb(235, 230, 165);
  border-radius: 12px;
  color: black;
  border: 2px solid rgb(160, 160, 32);
  cursor: pointer;
}

.main-explore-wrapper button:hover {
  background-color: rgb(160, 160, 32);
  border: 2px solid rgb(235, 230, 165);
  color: rgb(235, 230, 165);
}

.explore-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.explore-container {
  flex-basis: 48%;
}

.explore-container p {
  font-size: 18px;
  line-height: 1.5;
  padding-right: 20px;
  padding-left: 20px;
}

.explore-container img {
  width: 32px;
  vertical-align: middle;
  margin-right: 12px;
}

.title {
  display: flex;
  /* text-align: center;
  align-items: center; */
}

.title h2 {
  margin-bottom: 0;
  margin-left: 12px;
  font-size: 32px;
  color: rgb(235, 230, 165);
}